/* Your styles here */

/* goole fonts imported here */
@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@600;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
/*  */

/* body  */
body {
  margin: 0px auto;
  width: 500px;
  font-family: open-sans;
}

body > div {
  margin: 0 auto;
}

/* header  */

header > div {
  background-color: black;
  align-items: center;
}

.image-class {
  text-align: center;
  height: 80px;
}

.image-class > img {
  height: 40px;
  margin: 20px 0px 0px 0px;
}

/* above the fold  */

.above-the-fold {
  background-image: url("/images/banner.jpg");
  height: 500px;
  width: 500px;
  object-fit: contain;
}

.above-the-fold > h1 {
  font-size: 3.2em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: rgb(31, 164, 164);
  padding-top: 55px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  text-align: center;
  line-height: 30px;
  padding: 15px 23px 15px 23px;
}

.button-container {
  text-align: center;
}

button {
  background-color: rgb(225, 93, 11);
  border: none;
  color: white;
  letter-spacing: 0.1em;
  font-size: 1.4em;
  text-align: center;
  height: 45px;
  width: 170px;
  border-radius: 6px;
  margin-bottom: 8px;
}

/* article of the site  */

.article-class {
  margin-top: 15px;
  margin-bottom: 100px;
}

h5 {
  color: rgb(31, 164, 164);
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.image-2-container {
  text-align: center;
}
.image-2 {
  border-radius: 50%;
}
